<div class="container-fluid">
  <div class="row py-4">
    <div class="col-6">
      <button class=" btn-primario text-light w-100" (click)="Nuevo_Pedido()">Nuevo</button>
    </div>
    <div class="col-6">
      <button class="btn-secundario text-light w-100" (click)="vista = 'consulta'">Buscar</button>
    </div>
  </div>

  <div [ngClass]="{'d-none': vista != 'nuevo'}">
    <div class="row">
      <p class="text-terciario" style="font-size: medium;">Nuevo Pedido:</p>
      <div class="col-12 mb-2">
        <label class="text-terciario" >Seleccionar Responsable</label>
        <div class="form-group">
          <ng-select class="border-secundario-ng" 
          [items]="responsables"  #responsableSelect 
            bindLabel="nombre" 
            bindValue="cve_responsable" 
            autofocus
           
            (change)="cambio_responsable($event)"
          placeholder="Seleccionar Responsable.."  (keyup)="buscar_responsable($event)" >
          </ng-select>

        </div>
      </div>
      <div class="col-12 mb-2" [ngClass]="{'d-none': (responsable_select.nombre_paciente_1 == '' && responsable_select.nombre_paciente_2 == '') }">
        <div class="form-group">
          <label class="text-terciario" >Seleccionar Paciente</label><br>

          <input type="radio" #p1 id="p1" class="form-check-input border-secundario border-2" value="p1" [ngClass]="{'d-none': responsable_select.nombre_paciente_1 ==''}" value="1" name="paciente" (change)="establece_paciente('p1')" > <label for="p1">{{responsable_select.nombre_paciente_1}}</label> <br>
          <input type="radio" #p2 id="p2" class="form-check-input border-secundario border-2" value="p2" [ngClass]="{'d-none': responsable_select.nombre_paciente_2 ==''}" value="2" name="paciente" (change)="establece_paciente('p2')" ><label for="p2">{{responsable_select.nombre_paciente_2}}</label>

        </div>
      </div>
      
      <div class="col-12 mb-2">
        <div class="form-group">
          <label class="text-terciario" >Seleccionar Sucursal</label>
          <select class="form-select border-secundario border-2" aria-label="Default select example" [(ngModel)]="nuevo_pedido.cve_sucursal">
            <option selected>Seleccionar Sucursal...</option>
            <option value="{{item.Cve_Sucursal}}" *ngFor="let item of sucursales">{{item.Descripcion}}</option>

          </select>

        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="form-group">
          <label class="text-terciario" >Seleccionar Tipo Pago</label>
          <select class="form-select border-secundario border-2" aria-label="Default select example" [(ngModel)]="nuevo_pedido.tipo_pago">
            <option selected>Seleccionar Tipo de Pago...</option>
            <option value="{{item.Cve_Tipo_Pago}}" *ngFor="let item of tipo_pago">{{item.Descripcion}}</option>
          </select>
        </div>
      </div>
      <div class="col-12 mb-2 ">
        <div class="form-group">
          <label class="text-terciario" >Nuevo/Recompra</label>
          <select class="form-select border-secundario border-2" aria-label="Default select example" [(ngModel)]="nuevo_pedido.nuevo_recompra">
            <option value="1">Cliente Nuevo</option>
            <option value="2">Recompra</option>
          </select>
        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="form-group">
          <div class="form-check ">
            <input class="form-check-input border-secundario border-2 h6" type="checkbox" value="" [(ngModel)]="nuevo_pedido.factura" [disabled]="nuevo_pedido.rfc == ''" #checkfactura id="checkfactura">

            <label class="form-check-label" for="checkfactura">
              Factura
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <button class="btn bg-primario text-light w-100" (click)="Abrir_Modal()">Agregar producto</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-borderless" style="color:#2B8B92 ;">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productos_pedir" >
              <td>{{item.descripcion}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.precio_minimo_venta_base}}</td>
              <td>{{item.cantidad * item.precio_minimo_venta_base}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <div class="form-group">
          <label class="text-terciario" >Seleccionar Tipo Envio</label>
          <select class="form-select border-secundario border-2" aria-label="Default select example" [(ngModel)]="nuevo_pedido.tipo_envio">
            <option selected>Seleccionar Tipo Envio...</option>
           <option value="{{item.Cve_Tipo_Envio}}" *ngFor="let item of tipo_envio">{{item.Descripcion}}</option>
          </select>

        </div>
      </div>
      <div class="col-12 mb-2">
        <div class="row g-3 align-items-center">
          <div class="col-4">
            <label for="inputPassword6" class="col-form-label text-terciario">Fecha de Envío</label>
          </div>
          <div class="col-8">
            <input type="date" id="inputPassword6" class="form-control  border-secundario border-2"
              aria-describedby="passwordHelpInline" [(ngModel)]="nuevo_pedido.fecha_envio">
          </div>
        </div>

      </div>
      <div class="col-12 mb-2" [ngClass]="{'d-none': mostrar_envio == false}">
        <div class="form-group">
          <label class="text-terciario" >Costo de Envio</label>
          <input type="number" class="form-control border-secundario border-2" [(ngModel)]="nuevo_pedido.costo_envio">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card bg-primario">
          <div class="card-body text-light p-0">
            <p class="d-flex justify-content-between p-0"><span class="h5">Total de pedido:</span> <span>Productos:
                <span>{{num_productos}}</span></span> </p>
            <p class="d-flex justify-content-between p-0"><span class="h5">Importe: </span> <span
                class="h2">${{costo_total}}</span></p>
          </div>
        </div>
        <div class="col-12 mb-2 pt-2">

          <blockquote class="blockquote mb-2 text-poppins-light text-terciario text-center" style="font-size: small;">
            <b style="font-size: medium;">ATENCIÓN</b>
            <br>
            Los pedidos con envío local realizados antes de las 10:45, se enviarán el mismo día.
          </blockquote>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12 mb-2">
        <button class="btn bg-primario text-light w-100" (click)="Guardar_Pedido()">Guardar</button>
      </div>
    </div>
  </div>

  <!-- Consulta -->
  <div [ngClass]="{'d-none': vista != 'consulta'}">

    <div class="row">
      <p class="text-terciario" style="font-size: medium;">Consultar Pedido:</p>


      <div class="col-12 mb-2">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="text-terciario">Desde:</label>
              <input type="date" class="form-control border-secundario border-2 " placeholder="Fecha" [(ngModel)]="buscar_desde" />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="text-terciario">Hasta:</label>
              <input type="date"  class="form-control border-secundario border-2 " placeholder="Fecha" [(ngModel)]="buscar_hasta" />
            </div>
          </div>
        </div>        
      </div>




      <div class="col-12 mb-2">
        <div class="form-group">
          <label class="text-terciario">Status</label>
          <select class="form-select border-secundario border-2" aria-label="Default select example" [(ngModel)]="buscar_status">
            <option value="0" >TODOS</option>
            <option value="CT">CAPTURADO</option>
            <option value="2">FACTURADO</option>
            <option value="3">PAGADO</option>
            <option value="4">SURTIDO</option>
          </select>

        </div>
      </div>


      <div class="col-12 mb-2 text-center">
        <button class="btn bg-secundario text-light w-75" (click)="Buscar_Pedido()">Buscar</button>
      </div>

    </div>


    <div class="row">
      <div class="col-12 mb-2">
        <div class="form-group">
          <label class="text-terciario">Seleccionar Pedido</label>
          <select class="form-select border-secundario border-2" aria-label="Default select example" [(ngModel)]="this.selected_id" (change)="Ver_Selected()">
            <option ></option>
            <option value="{{item.cve_folio}}" style="font-size: xx-small;" *ngFor="let item of pedidos_consulta ">{{item.resumen()}}</option>                       
          </select>

        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <div class="card bg-secundario">
          <div class="card-body text-light p-0">
            <p class="d-flex justify-content-between p-0"><span class="h6">Razon Social:</span> 
              <span>{{pedido_consulta_select.razon_social}}</span> </p>
            <p class="d-flex justify-content-between p-0"><span class="h6">RFC: </span> <span
                class="h6">{{pedido_consulta_select.rfc}}</span></p>
            <p class="d-flex justify-content-between p-0">
              <span class="h6">Almacén: </span>
              <span class="h6">{{pedido_consulta_select.nombre_sucursal}}</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 mt-3">
        <table class="table table-borderless" style="color:#2B8B92 ;">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>  
              <th scope="col">Subtotal</th>        
            </tr>
          </thead>         
          <tbody>
            <tr *ngFor="let item of pedido_consulta_select.productos_pedir" >
              <td>{{item.descripcion}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.precio | number : '1.2-2'}}</td>  
              <td>{{item.sub_total | number : '1.2-2'}}</td>            
            </tr>
        </table>
      </div>

      <div class="col-12">
        <div class="card bg-secundario">
          <div class="card-body text-light p-0">
            <p class="d-flex justify-content-between p-0"><span class="h5">Envio:</span><span>{{pedido_consulta_select.total_envio()}}</span></p>
            <p class="d-flex justify-content-between p-0"><span class="h5">Total de pedidos:</span><span>{{pedido_consulta_select.number_productos()}}</span> </p>
            <p class="d-flex justify-content-between p-0"><span class="h5">Importe: </span> <span
                class="h2">{{pedido_consulta_select.total_productos() | number : '1.2-2'}}</span></p>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-6" [ngClass]="{'d-none': pedido_consulta_select.id_pago_1 == ''}">
            <button class="btn btn-link w-100" (click)="Cargar_Imagen(pedido_consulta_select.id_pago_1)">Pago {{pedido_consulta_select.nombre_pago_1}}</button>
          </div>
          <div class="col-6" [ngClass]="{'d-none': pedido_consulta_select.id_pago_2 == ''}">
            <button class="btn btn-link w-100" (click)="Cargar_Imagen(pedido_consulta_select.id_pago_2)" >Pago {{pedido_consulta_select.nombre_pago_2}}</button>
          </div>
        </div>
      </div>

      <div class="col-12 text-center mt-3 " [ngClass]="{'d-none': pedido_consulta_select.mostrar_subir_pago() == false }">
        <button class="btn btn-terciario w-100" (click)="Subir_Pago()">Subir Pago</button>
      </div>

    </div>
  </div>

</div>


<div class="modal" style="background-color: rgba(10, 10, 10, 0.86);" tabindex="-1" #modal>
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">
      <div class="modal-header py-1 px-2 bg-primario text-light ">
        <h4 class="modal-title">Busacar Producto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="Cerra_Modal()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-2">
            <div class="form-group">
              <ng-select class="border-secundario-ng" [items]="productos"  #responsableSelect
              bindLabel="pantalla" bindValue="cve_producto" [selectOnTab]="true" [searchable]="true" [clearable]="true"
              [virtualScroll]="true"
                [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
              placeholder="Buscar Productos.."  (keyup)="Buscar_Producto($event)" (change)="Producto_select($event)" >
              </ng-select>

            </div>
          </div>

          <div class="col-12">
            <label for="inputPassword6" class="col-form-label">Precio Minimo Venta</label>
            <input type="number" class="form-control" [(ngModel)]="producto_select.precio_minimo_venta_base">
          </div>

          <div class="col-12">
            <label for="inputPassword6" class="col-form-label">Existencia</label>
            <input type="number" class="form-control" [disabled]="true" [(ngModel)]="producto_select.existencia">
          </div>

          <div class="col-12">
            <label for="inputCantidad" class="col-form-label">Cantidad</label>
            <input type="number" class="form-control" id="inputCantidad" onFocus="this.select()" [(ngModel)]="producto_select.cantidad">
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="Cerra_Modal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="Agregar_Producto()" [disabled]="producto_select.existencia <= 0">Agregar</button>
      </div>
    </div>
  </div>
</div>
