<div class="container bg-body-secondary">
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="img-fluid">
        <img src="assets/img/logleb.png" alt="logo" class="img-fluid">
      </div>
    </div>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="">
        <h1 class="text-center" style="font-family:Poppins-Black;">Ventas</h1>
      </div>
      <form>
        <div class="form-floating mb-4">
          <input type="text" class="form-control form-control-sm border-primary rounded-4"  [(ngModel)]="cve_usuario" name="user" id="inputuser" placeholder="name@example.com">
          <label for="inputuser">Usuario</label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" id="inputpassword" class="form-control form-control-sm border-primary rounded-4" [(ngModel)]="password" name="pass" placeholder="Password" />
          <label class="form-label" for="inputpassword">Password</label>
        </div>


        <div class="row mb-4">
          <div class="col d-flex justify-content-center">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>

          <div class="col">

            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <div class="d-grid gap-2">
          <button type="button" class="btn  rounded-4  mb-4 bg-primario text-light" [ngClass]="{'d-none': button_loading == true}" (click)="login()">Entrar</button>
          <button  class="btn  rounded-4  mb-4 bg-primario text-light"  type="button" [ngClass]="{'d-none': button_loading == false}" >
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            Cargando...
          </button>
        </div>



        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

