<header>
  <nav class="navbar navbar-primary bg-primario">
    <div class="container-fluid text-poppins-medium" [ngClass]="{'justify-content-center': ruta == '/home/inicio'}">

      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation"
        [ngClass]="{'d-none': ruta == '/home/inicio'}">
        <span >
        <img src="assets/img/menu-de-puntos (1).png" style="height: 2rem;" alt="logo" class="img-fluid"></span>
      </button> -->
      <button class="navbar-toggler" type="button" (click)="open(content)"
        [ngClass]="{'d-none': ruta == '/home/inicio'}">
        <span >
        <img src="assets/img/menu-de-puntos (1).png" style="height: 2rem;" alt="logo" class="img-fluid"></span>
      </button>


      <a class="navbar-brand">{{page}}</a>


      <!-- <div class="offcanvas offcanvas-start bg-primario" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header p-1">
          <div class="row w-100">
            <div class="col-2 ">
              <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-caret-left-fill text-light h1"></i></button>
            </div>
            <div class="col-10 text-center align-self-center">
              <span class="text-poppins-regular h2 text-light">Menú</span>
            </div>
          </div>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
            <li class="nav-item ">
             <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos"><i class="bi bi-list-check"></i> Pedidos</button>
            </li>

            <li class="nav-item ">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="clientes"><i class="bi bi-person-check-fill"></i> Clientes</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos"><mat-icon>stethoscope_check</mat-icon> Médicos</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos"><i class="bi bi-calendar-date-fill"></i> Visitas</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos"><i class="bi bi-list-check"></i> Reportes</button>
            </li> 

          </ul>

        </div>
      </div> -->

      <ng-template #content let-offcanvas >
        <div class="offcanvas-header  bg-primario">
          <h4 class="offcanvas-title" id="offcanvas-basic-title">Menú</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body bg-primario">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
            <li class="nav-item ">
             <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos" (click)="offcanvas.dismiss('Cross click')"><i class="bi bi-list-check"></i> Pedidos</button>
            </li>

            <li class="nav-item ">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="clientes" (click)="offcanvas.dismiss('Cross click')"><i class="bi bi-person-check-fill"></i> Clientes</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos" (click)="offcanvas.dismiss('Cross click')"><mat-icon>medical_information</mat-icon> Médicos</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos" (click)="offcanvas.dismiss('Cross click')"><i class="bi bi-calendar-date-fill"></i> Visitas</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-lg text-light text-poppins-regular  " style="font-size: x-large;" data-bs-dismiss="offcanvas" routerLink="pedidos" (click)="offcanvas.dismiss('Cross click')"><i class="bi bi-list-check"></i> Reportes</button>
            </li> 

          </ul>

        </div>
      </ng-template>
    </div>
  </nav>
</header>
<main>
  <div class="container" style="height: 85vh;

	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;">
    <router-outlet></router-outlet>
  </div>

</main>
<footer class="bg-body-secondary text-center text-lg-start">
  <div class="text-center p-2">
    <img src="assets/img/lebenmedik.png" style="height: 2rem;" alt="logo" class="img-fluid">
  </div>
</footer>