<div class="row">
  <div class="col-12">
    <p>Hola, <span>{{user}}!!</span></p>

  </div>
</div>

<div class="row bg-light pb-4 shadow-sm p-3  bg-body-tertiary rounded " style="    border-bottom: 2px solid;
border-color: lightgrey; ">
  <div class="col-12">
    <p class="text-terciario h6 text-poppins-medium">Selecciona una opción:</p>
  </div>
  <div class="col-4 mb-4">
    <div class="card bg-secundario" (click)="Navegar('pedidos')">
      <div class="card-body text-center p-1">
        <img src="assets/img/bolsa-de-la-compra (1).png" style="height:10vh;" alt="pedidos" class="img-fluid ">
        <p class="text-poppins-medium text-light">Pedidos</p>

      </div>

    </div>
  </div>
  <div class="col-4 mb-4">
    <div class="card bg-secundario">

      <div class="card-body text-center p-1">
        <img src="assets/img/nueva-cuenta (1).png" style="height:10vh;" alt="pedidos" class="img-fluid ">
        <p class="text-poppins-medium text-light">Clientes</p>

      </div>


    </div>
  </div>
  <div class="col-4 mb-4">
    <div class="card bg-secundario">
      <div class="card-body text-center p-1">
        <img src="assets/img/estetoscopio (1).png" style="height:10vh;" alt="pedidos" class="img-fluid ">
        <p class="text-poppins-medium text-light">Médicos</p>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card bg-secundario">
      <div class="card-body text-center p-1">
        <img src="assets/img/calenda (1).png" style="height:10vh;" alt="pedidos" class="img-fluid ">
        <p class="text-poppins-medium text-light">Visitas</p>

      </div>

    </div>
  </div>
  <div class="col-4">
    <div class="card bg-secundario">
      <div class="card-body text-center p-1">
        <img src="assets/img/barra-grafica.png" style="height:10vh;" alt="pedidos" class="img-fluid ">
        <p class="text-poppins-medium text-light">Reportes</p>

      </div>

    </div>
  </div>

</div>


<div class="row ">
  <div class="col-12 mt-4">
    <div class="card bg-primario">
      <div class="card-body">
        <p></p>
        <p>Pedidos</p>

      </div>
    </div>
  </div>

  <div class="col-12 mt-4">
    <div class="card bg-primario">
      <div class="card-body">
        <p></p>
        <p>Pedidos</p>

      </div>
    </div>
  </div>

</div>
