/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: "Poppins-Black";
  src: url( "assets/fonts/Poppins-Black.ttf" );
}

@font-face {
  font-family: "Poppins-Bold";
  src: url( "assets/fonts/Poppins-Bold.ttf" );
}

@font-face {
  font-family: "Poppins-Light";
  src: url( "assets/fonts/Poppins-Light.ttf" );
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("assets/fonts/Poppins-Regular.ttf");
}


.cdk-overlay-pane { z-index: 1056 !important; }
.cdk-overlay-content { z-index: 1056  !important; }


.cdk-overlay-container { z-index: 1056 !important; }



.btn-primario {
  background-color: #2B8B92;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Poppins-Light;
}

.btn-primario:hover {
  border-color: #E86C39 !important;
  box-shadow: 0 0 10px #E86C39 !important;
}


.btn-secundario {
  background-color: #47BACD;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Poppins-Light;
}

.btn-secundario:hover {
  border-color: #E86C39 !important;
  box-shadow: 0 0 10px #E86C39 !important;
}

.btn-terciario {
  background-color: #E86C39;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Poppins-Light;
}

.bg-primario {
  background-color: #2B8B92;
}
.bg-secundario {
  background-color: #47BACD;
}

.text-primario{
  color : #2B8B92
}

.text-secundario{
  color : #47BACD
}

.text-terciario{
  color : #E86C39
}
.text-poppins-bold{
  font-family:Poppins-Bold;
}

.text-poppins-black{
  font-family:Poppins-Black;
}

.text-poppins-light{
  font-family:Poppins-Light;
}

.text-poppins-medium{
  font-family:Poppins-Medium;
}

.text-poppins-regular{
  font-family:Poppins-Regular;
}

.border-primario{
  border-color: #2B8B92;
  --bs-border-opacity: 1;
}

.border-secundario{
  border-color: #47BACD;
  --bs-border-opacity: 1;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #9c9c9c;
}

button:hover {
  background-color: #E86C39 !important;
  
}

button:active {
  background-color: #E86C39 !important;
  
}

.ng-select.border-secundario-ng{
  border:solid 2px #47BACD;
  --bs-border-opacity: 1; 
  border-radius: 5px;
  color : #000;
}

.ng-select.border-primario-ng{
  border:solid 2px #2B8B92;
  --bs-border-opacity: 1; 
  border-radius: 5px;
  color : #000;
}

.bold {
  font-weight: bold;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
